<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <link rel="stylesheet" href="assets/css/main.css">
  <head>
    <meta charset="UTF-8">
    {% include head.html %}
    {% include custom.html %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
      {% include browser-upgrade.html %}
      {% include masthead.html %}

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
      {% if site.show_downloads %}
	      <a href="{{ site.dblp-url }}" class="btn"> DBLP </a>
	      <a href="{{ site.github-url }}" class="btn"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github </a>
        <a href="{{ site.google-scholar }}" class="btn"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar </a>
	      <a href="{{ site.orcid-url }}" class="btn"> ORCID </a>
	      <a href="{{ site.semantic-url }}" class="btn"> Semantic Scholar </a>  
      {% endif %}
    </header>
    
    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

  </body>
</html>